<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <!-- @Depandency Spring Beans class configuration-->
           <bean id="ltime" class="java.time.LocalTime" factory-method="now"/>
           
           <!-- Target Spring bean class Configuration -->
           <bean id="wmg" class="com.nt.sbeans.WishMessageGenerator">
           <!-- Configuration time property for setter Injection-->
           <property name="time" ref="ltime"/>
         
           
           </bean>
           
           
           
           </beans>